.container-breadcrumbs {
  padding: 0;
  margin: 0 0; /* Añadido un margen superior */
}

.breadcrumbs {
  display: flex;
  list-style: none;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 14px;
}

.breadcrumbs li {
  margin-right: 10px;
}

.breadcrumbs li a {
  font-size: 18px;
  text-decoration: none;
  color: black;
  transition: 0.3s;
}

.breadcrumbs li a:hover {
  text-decoration: underline;
}

.breadcrumbs li::after {
  content: ">";
  margin-left: 10px;
  color: #777;
}

.breadcrumbs li:last-child::after {
  content: "";
}

.last-breadcrumb-text {
  color: #D2B091; /* Color rosa */
  font-weight: bold;
  font-size: 18px;
}