.dama-container{
    display: flex;
}

/* Estilos del filtro */
.filter-container {
    width: 20%;
    /*float: left;*/
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
}

.filter h3 {
    margin-top: 20px;
}

.filter ul {
    list-style-type: none;
    padding: 0;
}

.filter li {
    margin: 5px 0;
}

/* Filtro de precio */
.price-filter {
    margin-top: 20px;
}

.price-filter label {
    margin-right: 10px;
}

.price-filter input {
    width: 70px;
    margin-right: 10px;
}

.price-filter button {
    margin-top: 10px;
    padding: 5px 10px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

/* Sección de productos */
.products {
    width: 75%;
    float: right;
    padding: 20px;
    text-align: center;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.product-item {
    flex: 1 1 calc(30% - 40px);
    box-sizing: border-box;
    padding: 20px;
    border: 1px solid #020202;
    border-radius: 5px;
    text-align: center;
    background-color: #ffffff;
    transition: transform 0.3s ease;
}

.product-item:hover {
    transform: scale(1.05);
}

.product-item img {
    max-width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
}

.product-item p {
    margin: 5px 0;
    font-size: 1.1em;
}
