.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.dropdown {
    margin-top: 20px;
}

select {
    padding: 10px;
    font-size: 16px;
    width: 100%;
    max-width: 300px;
}
cindyhola
ola
Gustavo Hola mundo